*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header .container{
    display: flex;
}
header .logo {
    width: 5vw;
    height: 5vw;

}
header .logo img{
    width: 100%;
    height: 100%;
}
header .links ul{
    display: flex;
    gap: 5px;
}